<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
	<h2>Quiz: Autores</h2>

	<%= autores %>
		<p></p>
		<a href="/quizes">Volver</a>
</body>

</html>
